<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Editar cliente</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Compañia</span>
          <input type="text" ng-model="customer_company">
        </label>
        <label class="item item-input">
          <span class="input-label">Nombre</span>
          <input type="text" ng-model="data.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Correo electrónico</span>
          <input type="text" ng-model="data.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Dirección 1</span>
          <input type="text" ng-model="data.address_1">
        </label>
        <label class="item item-input">
          <span class="input-label">Dirección 2</span>
          <input type="text" ng-model="data.address_2">
        </label>
        <label class="item item-input">
          <span class="input-label">Código Postal</span>
          <input type="text" ng-model="data.address_cp">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Guardar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>