<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    
    <ion-content>
      <ion-list>
        <ion-item class="item item-avatar item-calm" menu-close ng-click="login()">
            <img src="img/user.png">
            <h2>jctovar@gmail.com</h2>
            <p>Back off, man. I'm a scientist.</p>
        </ion-item>
        <ion-item menu-close href="#/app/search">
            <i class="icon ion-search"></i>
          Busqueda
        </ion-item>
        <ion-item menu-close href="#/app/customers">
            <i class="icon ion-person-stalker"></i>
            Clientes
        </ion-item>
        <ion-item menu-close href="#/app/invoices">
            <i class="icon ion-document-text"></i>
          Cotizaciones
        </ion-item>
        <ion-item menu-close href="#/app/config">
            <i class="icon ion-gear-b"></i>
          Configuración
        </ion-item>
      </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-calm">
        <p>by Cuatro Colibri, ® 2016</p>
    </div>
  </ion-side-menu>
</ion-side-menus>
